* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #c9c9c9;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: solid 1px rgb(0, 0, 0);
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.btn-component-selector {
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: ease 0.3s;
}

.btn-component-selector:hover{
  transform: scale(1.1);
  color: yellow;
  transition: ease 0.3s;
}

.component-container {
  margin-left: 100px;
  padding-top: 100px;
}

.input {
  padding-top: 20px;
}

input {
  font-size: 20px;
}

.fib-inputs input{
  width: 15%;
  margin-left: 15px;
}

.custom-fibonacci-result{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}

ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul li{
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}

ul li h6{
  font-size: 20px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: #fff;
}

.modal header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 10px;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.btn-modal {
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: rgb(24, 227, 242);
  cursor: pointer;
  transition: ease 0.3s;
}